<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/about/">About this Hand-On Lab site   </a>
                <a href="/contact/">Contact</a>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li>
                         <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                         <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                         <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                 <input type="text" class="form-control" placeholder="Username" name="username" >
                                 <input type="password" class="form-control" placeholder="Password" name="psw" >
                                 <button class="btn btn-primary" type="submit">Login</button>
                                 <a href="{% url 'djangoapp:registration' %}">Signup</a>
                            </div>
                         </form>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- Add reviews as cards -->
    <div class="card-columns">
        {% for dealer in dealership_list %}
        <div class="card">
            <img class="card-img-left" src="{{MEDIA_URL}}/emoji/positive.png">
            <div class="card-body">
            <p>{{dealer.car_name}}</p>
            <p>{{dealer.dealer_name}}</p>
            <p>{{dealer.review_content}}</p>
        </div>
        {% endfor %}
    </div>    
    </body>

</html>